<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<section name="ZacksFiasco.Web.Navigation"
				 type="ZacksFiasco.Web.Navigation.Configuration.NavigatorSection, ZacksFiasco.Web.Navigation"/>
	</configSections>
	<ZacksFiasco.Web.Navigation>
		<siteMapProvidersToSearch> 
			<add siteMapProviderName="AspNetXmlSiteMapProvider" />		  
		</siteMapProvidersToSearch>	   
	</ZacksFiasco.Web.Navigation>
    <system.web>
        <compilation debug="true" />
		<siteMap defaultProvider="NavSiteMapProvider" enabled="true">
			<providers>
				<add name="NavSiteMapProvider"
					 description="Custom SiteMap provider."
					 type="ZacksFiasco.Web.Navigation.NavigatorSiteMapProvider, ZacksFiasco.Web.Navigation"
					 siteMapFile="Web.sitemap"
					 securityTrimmingEnabled="true"/>
			</providers>
		</siteMap>
    </system.web>
</configuration>
